:root {
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color: #13222f;
  background: #f3f8fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input,
select {
  font: inherit;
}
